@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #3340ec;
}

.text-primary {
  color: var(--primary);
}

.bg-primary {
  background-color: var(--primary);
}

.hero-section {
  background-image: url("/hero.png");
  background-size: 100%;
  background-position: top center;
  background-repeat: no-repeat;
  height: 130vh;
}
@media screen and (max-width: 768px) {
  .hero-section {
    background-image: url("/home-bg-2.png");
    background-size: 100%;
    height: 150vh;
    background-position: 0px 94%;
    border-bottom: 1px solid;
  }
}

.flag-img {
  top: 13%;
  right: 0;
}
.web-list {
  list-style: none;
  padding-left: 0;
}
.web-list li {
  display: flex;
  margin-top: 20px;
}
.web-list li:before {
  content: url("/web-list-icon.png");
  margin-right: 10px;
}
.bg-simples-pasos {
  background-image: url("/simples-pasos-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (max-width: 380px) {
  .pricing-plan {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .positiond-wrapper {
    width: 100%;
    padding: 0 30px;
  }
  .positiond-img {
    width: 3000px;
  }
}

.bg-sdsi343i32 {
  background-image: url("/sdsi343i32.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.bg-sdsajdiu34829 {
  background-image: url("/sdsajdiu34829.png");
  background-size: 40%;
  background-position: left center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
  .bg-sdsajdiu34829 {
    background-image: url("/sdsajdiu34829.png");
    background-size: cover;
    background-position: left center;
    background-repeat: no-repeat;
  }
}
.bg-Group6498 {
  background-image: url("/Group6498.png");
  background-size: cover;
  background-position: left center;
  background-repeat: no-repeat;
}
.bg-Grou454f99 {
  background-image: url("/Grou454f99.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 100px auto;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: black;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.timeline-wrapper {
  padding: 0px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.timeline-wrapper::after {
  content: "";
  position: absolute;
  width: 45px;
  height: 45px;
  right: -22.5px;
  background-color: black;
  border: 4px solid #fff;
  top: -1px;
  border-radius: 50%;
  z-index: 1;
}

.left {
  left: 0;
}

.right {
  left: 50%;
}

.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

.right::after {
  left: -22.5px;
}

.content {
  padding: 0px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

@media screen and (max-width: 600px) {
  .content {
    padding: 0px 0px;
  }
  .timeline-wrapper {
    width: 100%;
    padding-right: 50px;
    padding-left: 0px;
  }

  .timeline-wrapper::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  .right {
    left: 0%;
  }

  .left::after,
  .right::after {
    right: 0px;
    width: 25px;
    height: 25px;
  }
}

@media screen and (max-width: 600px) {
  .timeline::after {
    right: 10px;
    left: auto;
  }
  .right::after {
    right: 0 !important;
    left: auto;
  }
  .timeline .content {
    text-align: end;
    margin-top: 60px;
  }
}
